.App {
  text-align: center;
  background-color: white;
}

header {
  width: 100%;
  height: 79px;
  display: flex;
  margin-top: 10px;
  user-select: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 752px;
  height: 79px;
  margin: 0 auto; /* Center the menu horizontally */
}

.menu-button {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

.menu-button span {
  margin-top: 5px;
  color:rgba(0, 0, 0, 0.8);
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px; /* Set the fixed width of the container */
  height: 56px; /* Set the fixed height of the container */
  background-color: #D9D9D9;
  border-radius: 50%;
}

.nav-bg {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
}

.menu-button.active .nav-bg {
  opacity: 1;
}

.nav-icon {
  z-index: 5;
  width: 36px;
  height: 36px;
}

.login-container {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  height: 79px;
  margin-top: 47px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  align-items: center;
  margin-right: 22px;
}

.login-image {
  height: 76%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 19px;
  flex-shrink: 0;
  background: #BEBEBE;
  border: none;
  border-radius: 7px;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.dropdown {
  margin-top: 10px;
  z-index: 10;
  width: 300px;
  position: relative;
  display: inline-block;
  user-select: none;
}

.dropdown-input {
  background-color: transparent;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  border-width: 1px;
  border-color: #d9d9d9;
  border-style: solid;
  border-radius: 20px;
  color: hsl(0 0% 46% / 1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  height: 21.2px;
}

.dropdown-input span {
  max-width: 80%;
  overflow: hidden;
  white-space: nowrap;
}

.dropdown-icon {
  margin-left: 5px;
  height: 8px;
  opacity: .5;
  position: absolute;
  top: calc(50% - 4px);
  right: 10px;
  transform: translateY(-50%);
}

.dropdown-menu {
  position: absolute;
  background-color: white;
  width: 100%;
  border-width: 1px;
  border-color: #d9d9d9;
  border-style: solid;
  border-radius: 12px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.dropdown-menu-open {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 400px; 
  opacity: 1;
  overflow-y: hidden;
  transition: opacity 0s ease, max-height 0.3s ease 0s;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown-menu-open:hover {
  overflow-y: auto;
}

.dropdown-road {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(300px - 20px - 30px);
}

.dropdown-road span, .dropdown-road input {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 10px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-size: 16px;
  color: hsl(0 0% 46% / 1);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  font-style: normal;
  overflow: hidden;
  white-space: nowrap;
}

.dropdown-road input {
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: normal;
}

.dropdown-road input:focus {
  outline: none;
}

.dropdown-road div {
  display: flex;
}

.dropdown-road button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 2px;
}

.dropdown-road button  {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 2px;
}

.roadIcons {
  height: 15px;
}

.dropdown-add {
  padding: 10px;
}

.dropdown-add button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}